.wrap-one{
    box-sizing: border-box;
    width: 37.5rem;
    height: 60.4rem;
    background: url("../images/wrap-one.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.messageBoxWrap{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2.1rem 0 2rem;
    width: 30.6rem;
    height: 45.35rem;
}
.messageBox{
    box-sizing: border-box;
    padding-top: 10.7rem;
    width: 30.6rem;
    height: 41.3rem;
    text-align: center;
    background: url("../images/messageBox.png") center no-repeat;
    background-size: cover;
}

.messageBox span{
    margin: 0 auto;
    display: block;
    width: 6.55rem;
    height: 6.1rem;
    background: url("../images/luyouqi.png") center no-repeat;
    background-size: cover;
}
.messageBox p{
    font-size: 1.8rem;
    line-height: 25rem;
    color: #348cf7;
}

.broadbandBtnBox a{
    display: block;
    margin: 0 auto;
    width: 29.25rem;
    height: 6.65rem;
    font-size: 1.8rem;
    color: #348cf7;
    text-align: center;
    line-height: 5rem;
}
.broadbandBtnBox .broadbandBtnY{
    color: #ffffff;
    background: url("../images/broadbandBtnY.png") center no-repeat;
    background-size: cover;
}
.broadbandBtnBox .broadbandBtnN{
    background: url("../images/broadbandBtnN.png") center no-repeat;
    background-size: cover;
}

/*等待加载动画*/
/*.loader-inner{
    margin: 0 0 0 15rem;
    width: 10rem;
    height: 10rem;
}*/
@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-spin-fade-loader {
    position: relative;
    left: 14rem;
}

.ball-spin-fade-loader > div:nth-child(1) {
    top: 3rem;
    left: 0rem;
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
    animation: ball-spin-fade-loader 1s 0s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(2) {
    top: 2.1rem;
    left: 2.1rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
    animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 3rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
    animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(4) {
    top: -2.1rem;
    left: 2.1rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
    animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(5) {
    top: -3rem;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
    animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(6) {
    top: -2.1rem;
    left: -2.1rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
    animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -3rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
    animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(8) {
    top: 2.1rem;
    left: -2.1rem;
    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
    animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}

.ball-spin-fade-loader > div {
    background-color: #348cf7;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin: 0.5rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
}

/*webpage*/
.messageBox .icon-360{
    width: 7.4rem;
    height: 7.3rem;
    background: url("../images/icon-360.png") center no-repeat;
    background-size: cover;
}
.messageBox .webpageM{
    line-height: 15rem;
}

/*game1-7*/
.messageBox .icon-light{
    width: 7.15rem;
    height: 6.65rem;
    background: url("../images/game-light.png") center no-repeat;
    background-size: cover;
}


/*Loading动画*/
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div {
    text-align: center;
    background-color: #0085cf;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin: 0.5rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.loader-inner{

    z-index: 999;
}
.loader-inner p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #348cf7;
}
