html,body {
    width: 100%;
    height: 100%;
}
.wrap-one{
    box-sizing: border-box;
    padding-top: 0.66rem;
    width: 7.5rem;
    min-height: 100%;
    background: url("../images/wrap-one.png") center no-repeat;
    background-size: cover;
}
.detection{
    margin: 0 auto;
    width: 4.96rem;
    height: 4.67rem;
    text-align: center;
    background: url("../images/detection.png") center no-repeat;
    background-size: cover;
}
.detection p{
    font-size: 0.76rem;
    line-height: 4.67rem;
    color: #348cf7;
}
.detection p span{
    font-size: 1.04rem;
}
.Qlist{
    box-sizing: border-box;
    padding: 0.8rem 0.74rem 0;
}
.Qlist ul li{
    position: relative;
    font-size: 0.34rem;
    height: 1rem;
    line-height: 1rem;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.Qlist ul li span{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 0.4rem;
    height: .4rem;
}
.Qlist ul li .normal{
    background: url("../images/normal.png") center no-repeat;
    background-size: cover;
}
.Qlist ul li .wron{
    background: url("../images/warn.png") center no-repeat;
    background-size: cover;
}

/*Loading动画*/
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div {
    text-align: center;
    background-color: #ffffff;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    margin: 0.1rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.loader-inner{
    display: none;
    position: fixed;
    top: 35%;
    left: 2.8rem;
    z-index: 999;
}
.loader-inner p{
    font-size: 0.32rem;
    line-height: 0.5rem;
    color: #ffffff;
}

.mask {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
}